<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mabena_li_216074173_it28x87_2020_mobileclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditResidence"></activity>
        <activity android:name=".ManagerChosenAccommodation" />
        <activity android:name=".ManagerAccommodations" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".AddReview" />
        <activity android:name=".SelectedAccommodation" />
        <activity android:name=".DeleteReview" />
        <activity android:name=".EditReview" />
        <activity android:name=".AccommodationReviews" />
        <activity android:name=".ResidenceSeekerReviews" />
        <activity android:name=".ChosenAccommodation" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ResidenceSeekerHomeActivity" />
        <activity android:name=".ManagerHomeActivity" />
        <activity android:name=".AddAccommodation2" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".ChoosePreferences" />
        <activity android:name=".RegisterSeeker" />
        <activity android:name=".Login" />
        <activity android:name=".FilteredAccommodations" />
        <activity android:name=".ChooseCriteria" />
        <activity android:name=".AddAccommodation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>